.home-cardH {
  width: 24vw;
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 45vh;
}
.video-thumbnailH {
  width: 24vw;
  height: 170px;
}
.channel-secH {
  display: flex;
  justify-content: space-around;
  width: 24vw;
}
.channel-logoH {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.channel-infoH {
  display: flex;
  flex-direction: column;
}
.titleH {
  font-size: 17px;
}
.views-dateH {
  display: flex;
  margin-top: -15px;
}
.nameH {
  margin-top: 0px;
  font-size: 16px;
}
.date-formatH {
  padding-left: 5px;
}
